{% extends "map/navigation.html" %}
{% load static %}

{% block before-panels %}
<div id="map"></div>
{% endblock %}

{% block panels %}
<div id="creation-panel" class="block">
    <textarea id="description", maxlength="128" rows="4" cols="32" required></textarea>
    <img id="add-button" width="60" height="60" src="{% static 'map/images/add-button.png' %}">
</div>
{{ block.super }}
{% endblock %}

{% block after-panels %}
<script type="module" src="{% static 'map/scripts/index.js' %}"></script>
{% endblock %}
