{% extends "map/navigation.html" %}
{% load static %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href={% static 'map/styles/map.css' %}>
{% endblock %}

{% block panels %}
<div id="creation-panel" class="block">
    <textarea id="new-task-description", class="task-description" maxlength="128" rows="4" cols="32" required></textarea>
</div>
{{ block.super }}
{% endblock %}

{% block profile-path %}"{% url 'profile_:profile' %}?from_map={{ map_id }}"{% endblock %}

{% block after-profile %}
<a href="{% url 'map:map-selection' %}" id="back-button">
    <img src="{% static 'shared/images/back-button.png' %}" width="50" height="50">
</a>
{% endblock %}

{% block after-panels %}
<script type="module" src="{% static 'map/scripts/entrypoints/map.js' %}"></script>
{% endblock %}
