{% extends "shared/base.html" %}
{% load static %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href={% static 'map/styles/navigation.css' %}>
{% endblock %}

{% block body %}
{% block before-panels %}{% endblock %}
<div id="panels">
{% block panels %}
    <div id="way-panel" class="block">
        <a href={% block profile-path %}"{% url 'profile_:profile' %}"{% endblock %}>
            <img id="avatar" src="{% static 'shared/images/avatars/robot.png' %}" width="57" height="57">
        </a>
        {% block after-profile %}{% endblock %}
    </div>
{% endblock %}
</div>
{% block after-panels %}{% endblock %}
{% endblock %}
