{% load static %}

<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href={% static 'todo/css/style.css' %}>
            <link rel="shortcut icon" href="{% static 'todo/icon.png' %}" type="image/x-icon">
            <title>{% block title %}ToDo{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
