<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h2><b>{{ password }}</b></h2>
        <p>Enter this password on the page to which you were redirected to confirm {{ subject }}</p>
        <p>If you are not redirected, then follow this link to go to this confirmation page: <a href="{{ url }}">{{ url }}</a></p>
        <p><b>Warning</b>: this password is active for only {{ activity_minutes }} minutes<p>
    </body>
</html>
