{% extends 'shared/form.html' %}


{% block attrs %}id="login-form" action="{% url 'access:sign-in' %}"{% endblock %}

{% block title %}Sign in{% endblock %}
{% block form_title %}<h1>Sign in</h1>{% endblock %}

{% block fileds %}
    <p>
        <label for="{{ form.username.id_for_label }}">Name</label>
        {{ form.username }}
    </p>
    <p>
        <label for="{{ form.password.id_for_label }}">Password</label>
        {{ form.password }}
    </p>
{% endblock %}

{% block extension %}
    <a class="to-regain-access" href="{% url 'access:recover-by-name' %}">Forgot</a>
    <a class="to-change-form" href="{% url 'access:sign-up' %}">Sign up</a>
{% endblock %}
