{% extends 'shared/form.html' %}


{% block attrs %}id="recovery-form"{% endblock %}

{% block title %}Restore access{% endblock %}
{% block form_title %}<h2 id="recovery-form-title">Restore access</h2>{% endblock %}

{% block fields %}
    <p>
        <label for="{{ form.new_password.id_for_label }}">New password</label>
        {{ form.new_password }}
    </p>
    <p>
        <label for="{{ form.password_to_repeat.id_for_label }}">Repeat password</label>
        {{ form.password_to_repeat }}
    </p>
{% endblock %}

{% block extension %}
    <a class="left-route" href="{% url 'access:sign-in' %}">Already</a>
{% endblock %}
