{% extends 'shared/form.html' %}


{% block body %}
    {{ block.super }}

    {% if was_registered %}
        <div class="form-notification">
            <p>Confirm your email using the link in the email you will now receive.</p>
            <p>The email may be identified as spam.</p>
        </div>
    {% endif %}
{% endblock %}

{% block attrs %}id="registration-form" action="{% url 'access:sign-up' %}"{% endblock %}

{% block title %}Sign up{% endblock %}
{% block form_title %}<h1>Sign up</h1>{% endblock %}

{% block fileds %}
    <p>
        <label for="{{ form.name.id_for_label }}">Name</label>
        {{ form.name }}
    </p>
    <p>
        <label for="{{ form.email.id_for_label }}">Email</label>
        {{ form.email }}
    </p>
    <p>
        <label for="{{ form.password1.id_for_label }}">Password</label>
        {{ form.password1 }}
    </p>
    <p>
        <label for="{{ form.password2.id_for_label }}">Repeat password</label>
        {{ form.password2 }}
    </p>
{% endblock %}

{% block extension %}
    <a class="to-change-form" href="{% url 'access:sign-in' %}">Sign in</a>
{% endblock %}
