#way-panel {
  border-radius: 8px;
  width: 147px;
}

#creation-panel {
  border-radius: 8px;
  user-select: none;
  text-align: left;
  height: 88px;
  width: auto;
  padding: 5px;
  position: fixed;
  bottom: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-width: 0px; 
  left: 50%;
  transform: translate(-50%);
}

#tasks .block {
  width: auto;
  height: 90px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 25px;
  border-radius: 8px;
}

.task-description {
  user-select: none;
  resize: none;
  overflow: hidden;
  width: 233px;
  height: 78px;
  padding: 4px;
  background-color: #4d4d4d;
  border-width: 0px;
  color: #dddddd;
  border-radius: 6px;
  user-select: contain;
  font-family: "Nunito";
  font-weight: 500;
}

.task-description::selection {
  background-color: #8e7aff;  
}

.task-description:focus {
  color: #171717;
}

.task-interaction-mode {
  border-radius: 100px;
  background-color: #7773f6;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.task-interaction-mode:active {
  background-color: #fcdc60;
}

#readiness-animation-of-task-adding {
  position: fixed;
  bottom: 66px;
  left: 50%;
  transform: translate(-50%);
  width: 200px;
  height: 200px;
  user-select: none;
}