#way-panel {
  border-radius: 8px;
  width: 147px;
}

#creation-panel {
  border-radius: 8px;
  user-select: none;
  text-align: left;
  height: 98px;
  width: 323px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);
  border-color: #1dcc74;
}

#add-button {
  user-select: none;
  cursor: pointer;
  position: relative;
  left: 13px;
  top: 4px;
  background-color: #21ea85;
  border: solid 2px #25ac68;
  border-radius: 50px;
}

#description {
  font-family: "Nunito";
  font-weight: 500;
  user-select: contain;
  resize: none;
  position: relative;
  top: 10px;
  left: 10px;
  border-radius: 6px;
  background-color: #e7fff3;
  overflow: hidden;
}

#description:focus {
  background-color: #21ea85;
}

.task {
  font-size: 14px;
  overflow: hidden;
  width: 233px;
  height: 78px;
  padding: 2px;
  background-color: #21ea85;
  border: solid 2px #1fdb7d;
  border-radius: 6px;
}
